<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMstAyRcvmGitom-Km-KRSAUzXgLy7g8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>287661326372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trabalho1</string>
	<key>PROJECT_ID</key>
	<string>aplicativo-de-filmes-26f39</string>
	<key>STORAGE_BUCKET</key>
	<string>aplicativo-de-filmes-26f39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287661326372:ios:8a369f939770ae1f5958b1</string>
</dict>
</plist>